<!-- 
	
	=======
	Wiklinks
	=======

 Based on https://github.com/crisrojas/zettels.git
 -->
 
{{ $firstBracket := "\\[\\[" }}
{{ $lastBracket := "\\]\\]" }}

{{ $wikiregex := "\\[\\[([^/]+?)\\]\\]" }}

{{ $wikilinks := .Summary | findRE $wikiregex }}

{{ $.Scratch.Set "content" .Summary }}

{{ range $wikilinks }}

	{{ $linkTitle := . | replaceRE $wikiregex "$1" }}
	{{ $linkTitle := $linkTitle | replaceRE "\\?" "\\?" }}
	{{ $wikilink :=  printf "%s%s%s" $firstBracket $linkTitle $lastBracket }}

	{{ $anchorized := $linkTitle | anchorize }}
	{{ $link := printf "[%s](%s)" $linkTitle (relref $ $anchorized )}}
	
	{{ $noteContent := $.Scratch.Get "content" | replaceRE $wikilink $link }}
	{{ $.Scratch.Set "content" $noteContent }}
{{ end }}
<p><small>Reading time: {{.ReadingTime}} minutes</small></p>
{{ $content := .Scratch.Get "content" }}
{{ $content | markdownify }}
{{if .Truncated}}
<p><a href="{{.RelPermalink}}">Read more...</a></p>
{{end}}
